* {
    font-family: "Helvetica", Serif;
}
body {
background-color: rgb(146, 92, 234, 0.4);
}
ul, ol {
    font-size: 25px;
}
h1 {
    font-family: "Papyrus", Serif;
    color: rgba(255, 255, 0, 0.584);
    font-size: 50px;
}
img {
    width: 300px;
    height: auto;
}
.ingredients, ul {
    color: aquamarine;
}
.steps, ol {
    color:beige;
}
