* {
    font-family: "Helvetica", Serif;
}
body {
background-color: rgb(146, 92, 234, 0.4);
}
ul, ol {
    font-size: 25px;
}
h1 {
    font-family: "Papyrus", Serif;
    color: rgba(255, 255, 0, 0.584);
    font-size: 50px;
    text-align: center;
}
img {
    width: 300px;
    height: auto;
}
.ingredients, ul {
    color: aquamarine;
}
.steps, ol {
    color:beige;
}
.recipeList {
    font-family: "Papyrus", Serif;
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 5px
}
.recipeLinks {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
}
.recipeLinks li {
    margin: 20px;
}